@import '../variables';

/* ==========================================================================
advantages.scss
========================================================================== */

.advantages {
  padding-top: 40px;
  padding-bottom: 10px;
  background-color: $advantages-mobile-bg-color;
}

.advantages__slider {
  width: 67%;
  margin: 0 auto;

  .icon {
    margin-bottom: 25px;
    fill: #826550;
    color: #826550;
  }
}

.owl-carousel {
  text-align: center;
}

.advantages__title {
  margin: 0;
  margin-bottom: 12px;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.advantages__description {
  font-size: 20px;
  margin: 0;
  margin-bottom: 10px;
}

@media (min-width: $tablet-width) {
  .advantages {
    padding-top: 370px;
    padding-bottom: 50px;
    background-color: $stats-advantages-bg-color;
  }

  .advantages__slider {
    width: 75%;
    box-sizing: border-box;

    .item {
      position: relative;
      padding-left: 125px;
      padding-bottom: 35px;
      margin-bottom: 40px;
      border-bottom: 1px solid #4a4a4a;

      &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
      }
    }

    .icon {
      margin: 0;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .advantages__description {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    padding-top: 215px;
  }

  .advantages__slider {
    width: 960px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .item {
      box-sizing: border-box;
      width: 319px;
      text-align: center;
      padding: 0 40px;
      border: 0;
      border-right: 1px solid #4a4a4a;

      &:last-child {
        padding-bottom: 0;
        border: none;
      }
    }

    .icon {
      position: inherit;
      margin-bottom: 25px;
    }
  }
}
