@import '../variables';

/* ==========================================================================
nojs-login.scss
========================================================================== */

.nojs-login-wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: #292929;
  background-image: url("../img/bg-header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url('../img/bg-header@2x.jpg');
  }
}

@media (min-width: $tablet-width) {
  .nojs-login-wrapper {
    align-items: center;
  }
}

.nojs-login {
  box-sizing: border-box;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 55px;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
  color: #000;
  background-color: #f8f5f2;
}

@media (min-width: 460px) {
  .nojs-login {
    width: 460px;
    padding-right: 70px;
    padding-left: 70px;
  }
}

.nojs-login__title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 40px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.nojs-login__text {
  margin: 0;
  margin-bottom: 25px;
}

.nojs-login__form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nojs-login__input {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 45px;
  padding-left: 20px;
  margin-bottom: 5px;
  font-size: 18px;
  line-height: 20px;
  border: 1px solid #e5ddd5;
  color: inherit;
  background-color: #fff;
  background-position: 93% 50%;
  background-repeat: no-repeat;
  background-size: 15px 15px;

  &:last-of-type {
    margin-bottom: 15px;
  }

  &:focus {
    border-color: #826550;
  }
}

.nojs-login__input-text {
  background-image: url('../img/popup-login-field.svg');
}

.nojs-login__input-password {
  background-image: url('../img/popup-password-field.svg');
}

.nojs-login__restore-link,
.nojs-login__registration-link {
  flex-basis: 100%;
  margin-bottom: 15px;
  line-height: 30px;
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}

.nojs-login__submit-button {
  color: #fff;
  background-color: #826550;
  width: 100%;
  margin-bottom: 15px;
}

@media (min-width: $desktop-width) {
  .nojs-login__submit-button {
    &:active {
      background-color: #d5c9bd;
      color: #a99f95;
    }
  }
}
