@import '../variables';

/* ==========================================================================
page-header.scss
========================================================================== */

.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 85px;
  background-color: $page-header-mobile-bg-color;
}

.page-header__logo img {
  width: 226px;
  height: 30px;
}

@media (min-width: $tablet-width) {
  .page-header {
    background-color: #000;
  }

  .page-header__logo {
    order: 2;
    align-items: flex-start;
    min-height: 400px;
    background-color: #000;
    background-image: url("../img/bg-header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url('../img/bg-header@2x.jpg');
    }
  }

  .page-header__logo img {
    display: block;
    width: 370px;
    height: 101px;
    margin-top: 40px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    min-height: 648px;
  }

  .page-header__logo img {
    height: 154px;
    margin-top: 57px;
  }
}
