@import '../variables';

/* ==========================================================================
page-footer.scss
========================================================================== */

.page-footer {
  padding-top: 30px;
  padding-bottom: 25px;
  background-color: $bg-darkgrey;
  color: #fff;
}

.page-footer__wrapper {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.contacts__title {
  margin: 0;
  font-weight: 700;
}

.contacts__text {
  margin: 0;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.contacts__phone {
  width: 87%;
  margin-top: 15px;
  margin-bottom: 20px;
  border: 1px solid #3e3e3e;
}

.page-footer__social {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.social__title {
  display: none;
}

.social__link {
  @include clear-link;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  height: 100px;
  padding: 0;
  font-size: 0;
  background-color: $bg-darkgrey;
  border: 0;
  border: 1px solid #3e3e3e;

  &:first-of-type {
    border-right: 0;
  }

  &:last-of-type {
    border-left: 0;
  }

  .icon {
    fill: #fff;
  }
}

.copyright__text {
  font-weight: 400;
}

.copyright__link {
  width: 87%;
  border: 1px solid #3e3e3e;
  margin-top: 15px;
}

@media (min-width: $tablet-width) {
  .page-footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .page-footer__wrapper {
    width: 83.3%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .page-footer__contacts {
    text-align: left;
  }

  .contacts__title {
    text-transform: uppercase;
  }

  .contacts__text {
    margin: 0;
    margin-top: 15px;
    width: 335px;
  }

  .contacts__phone {
    display: inline;
    padding: 0;
    border: 0;
    font-weight: 400;
  }

  .page-footer__social {
    order: 1;
    width: 100%;
    margin: 0;
    margin-top: 50px;
  }

  .page-footer__copyright {
    width: 160px;
  }

  .copyright__link {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    width: 960px;
  }

  .page-footer__social {
    order: 0;
    justify-content: space-between;
    width: 165px;
    margin: 0;

    .icon {
      width: 35px;
      height: 35px;
    }
  }

  .social__title {
    display: inline;
    flex-basis: 100%;
    font-weight: 400;
  }

  .social__link {
    width: 50px;
    height: 50px;
    margin-top: 15px;
    flex-grow: 0;

    &:first-of-type {
      border-right: 1px solid #3e3e3e;
    }

    &:last-of-type {
      border-left: 1px solid #3e3e3e;
    }

    &:hover {
      border: 1px solid #545454;
    }

    &:active {
      background-color: #252525;
    }

    &:active .icon {
      fill: #676767;
    }
  }

  .contacts__phone {
    &:hover {
      border: none;
    }

    &:active {
      background-color: #252525;
      color: #808080;
    }
  }

  .copyright__link {
    &:hover {
      border: 1px solid #545454;
    }

    &:active {
      background-color: #252525;
      color: #808080;
    }
  }
}
