@import 'variables';

/* ==========================================================================
base.scss
========================================================================== */

body {
  position: relative;
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 27px;
  font-family: 'PT Sans Narrow', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #f7f4f1;
  font-style: normal;
  font-weight: normal;
  background-color: $bg-darkgrey;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  overflow: hidden;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
}

input,
textarea,
select {
  box-sizing: border-box;
}

input,
textarea {
  border: none;
  background: none;
}

input:focus {
  outline: none;
}

.button {
  box-sizing: border-box;
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid #e5ddd5;
  font-weight: 700;
  color: inherit;
  background-color: transparent;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;

  &:link,
  &:visited,
  &:focus {
    background-color: transparent;
  }
}
