@import 'variables';

/* ==========================================================================
base.scss
========================================================================== */

body {
  position: relative;
  min-width: 320px;
  margin: 0;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-family: $font-family-sans-serif;
  font-style: $font-style-base;
  font-weight: $font-weight-base;
  color: $color-base;
  background-color: $bg-darkgrey;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}

.visually-hidden {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  border: none;
  overflow: hidden;
}

input,
textarea,
select {
  box-sizing: border-box;
}

input,
textarea {
  border: none;
  background: none;
}

input:focus {
  outline: none;
}

.button {
  box-sizing: border-box;
  display: inline-block;
  padding: 15px 30px;
  border: 1px solid #e5ddd5;
  font: inherit;
  font-weight: 700;
  color: inherit;
  background-color: transparent;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}
