/* ==========================================================================
mixins.scss
========================================================================== */

// ?????????????????
.no-outline {
  outline: none;
  background: transparent;

  &::before {
    display: none;
  }
}

// @mixin clear-mp {
//   margin: 0;
//   padding: 0;
// }

@mixin reset-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin outline {
  outline: 1px solid red;
}

// @mixin clear-link {
//   overflow: hidden;
//   text-decoration: none;
// }
