$bg-darkgrey: #292929;
$bg-lightgrey: #f8f5f2;
$page-header-mobile-bg-color: #242424;
$stats-advantages-bg-color: #353535;
$advantages-mobile-bg-color: #242424;
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1200px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
